fastapi
uvicorn[standard]
gunicorn
# Temporarily, using teuthology without monkey patching the thread (TODO: use gunicorn instead)
git+https://github.com/VallariAg/teuthology@teuth-api#egg=teuthology[suite,test]
